body {
   font-family:Verdana;
   font-size:12px;
}

blockquote { 
   background-color: #ccc;
}

h1 {
   font-weight:bold;
   font-family:Verdana;
   font-size:30px;
   line-height:30px;
   margin:0;
}

br {
   font-family:Verdana;
   font-size:12px;
}

td { 
   vertical-align: bottom;
   /* background-color:#160c09; */
   font-family:Verdana;
   font-size:12px;
}

hr { 
   width: 300px;
   text-align: left;
   margin: 0 auto 0 0;
   height: 1px;
   /* border: 0; */
   color: #ffffff;
   background-color: #ffffff;
}

